<div class="container">
  <br/>
  <br/>
  <br/>
  <div class="row">
    <div class="col-xs-4">
      <h4>Name </h4>
    </div>
    <div class="col-xs-8">
      {{selectedPatient?.firstname}} {{selectedPatient?.lastname}}
    </div>
  </div>
  <div class="row">
    <div class="col-xs-4">
      <h4>Age </h4>
    </div>
    <div class="col-xs-8">
      {{selectedPatient?.age}}
    </div>
  </div>
  <div class="row">
    <div class="col-xs-4">
      <h4>Sex </h4>
    </div>
    <div class="col-xs-8">
      {{selectedPatient?.sex}}
    </div>
  </div>
  <div class="row">
    <div class="col-xs-4">
      <h4>Date Of Birth </h4>
    </div>
    <div class="col-xs-8">
      {{selectedPatient?.dob}}
    </div>
  </div>
  <div class="row">
    <div class="col-xs-4">
      <h4>Contact Number: </h4>
    </div>
    <div class="col-xs-8">
      {{selectedPatient?.phone}}
    </div>
  </div>
  <div class="row">
    <div class="col-xs-4">
      <h4>Complaints </h4>
    </div>
    <div class="col-xs-8">
      {{selectedPatient?.info}}
    </div>
  </div>
</div>
