<div class="row">
  <div class="col-xs-12">
    <form class="form-horizontal" (ngSubmit)="search(f)" #f="ngForm">
      <div class="form-group">
        <div class="row">
          <div class="col-xs-5 col-xs-offset-1">
            <input type="text"
                   class="form-control"
                   ngModel
                   name="searchText"
                   placeholder="Search Patients"
                   required
            >
          </div>
          <div class="col-xs-offset-1 col-xs-2">
            <button class="btn btn-info" [disabled]="f.invalid">Search</button>
          </div>
          <div class="col-xs-offset-1 col-xs-2">
            <button type="button" class="btn btn-danger" *ngIf="searched" (click)="resetSearch()">Reset Search</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <ul class="list-group">
        <app-patient-item *ngFor="let patient of patients; let i = index" [patient]="patient" [patientId]="i"></app-patient-item>
    </ul>
  </div>
</div>
